package-lock.json
.env
node_modules
uploads
modelTargets/*
!modelTargets/MCDoctor
!modelTargets/MCLocation
!modelTargets/MCProcedure
!modelTargets/MCWardRoom
!modelTargets/MCWardDailyDC
!modelTargets/MCDiagnosis
!modelTargets/MCMedicine
!modelTargets/MCHospital
!modelTargets/MCDirectoryFloor